.body{
    padding: 0;
    margin: 0;
}

.table2{
    line-height: 20px;
}

.box1{
    background-color: darkred;
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.box2{
    background-color: deeppink;
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.box3{
    background-color: brown;
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.td_image_width{
    width: 570px;
}

.text_style p{
    font-family: Arial;
    font-size: 16px;
    color: #3d3d3d;
}